[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
daphne = "*"
psycopg2-binary = "*"
pillow = "*"
uvicorn = "*"
django-allauth = "*"
drf-yasg = "*"
django-filter = "*"
requests = "*"
python-decouple = "*"
django-cors-headers = "*"
channels = "*"  
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.14"
